.hero,
#footer {
    background-color: #F7C8E0;

}

body {
    font-family: 'Josefin Sans', sans-serif;


}

h1 {
    color: #95BDFF;
}

#main {
    color: #95BDFF;
    font-family: 'Pacifico', cursive;


}
hr {
    border: dotted #95BDFF 6px;
    border-bottom: none;
    width: 4%;
    margin: 10px auto;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

strong {
    color: #95BDFF;
}

.hero p {
    color: #95BDFF;
}

.hero p span {
    text-decoration: underline;
}

.hero .nav-pills .nav-item .nav-link {
    color: #95BDFF;
}



.profile-img img {
    border-radius: 50%;
    border: 10px solid #DFFFD8;
    height: 250px;

}

.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

}

#card {
    height: 450px;
    width: 250px;
    background-color: #DFFFD8;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

#card .button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#card .btn {
    margin: 5px;
    width: 100px;
}

.btn-primary {
    background-color: #95BDFF;
    border: #95BDFF;
}

.btn-outline-primary {
    color: #95BDFF;
    border: #95BDFF;

}

#about h1 {
    color: #95BDFF;
}

.btn-success {
    background-color: #95BDFF;
    border: #95BDFF;
}
.header-nav {
    white-space: nowrap;
    overflow-x: auto;
}

.nav-pills {
    flex-wrap: nowrap;
}
@media only screen and ( min-width:250px) and (max-width: 100vw) {

.flex-row-1 {
    flex-direction: row;
}}
@media ( min-width:250px) and (max-width: 100vw){
.absolute {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: #F7C8E0;
    background: hsla(0,0%,100%,0);
    
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}
}
align-center {
    align-items: center;
    justify-content: center;
    width: 100%;
}
color-white {
    color: #95BDFF;
}

@media ( min-width:250px) and ( max-width: 100vw){
.top-menu-item {
    border-radius: 0.5rem;
    color: #95BDFF;
    font-size: 80%;
    margin: 0.3rem;
    padding: 0.4rem;
    text-decoration: none;
}}


/* @media (max-width: 1250px) {
    .project-container{
      
      flex-direction: column;
      
    }
  } */
